<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <%= link_to "Mokomes Ruby on Rails kelionems", "http://mountainbiketour.eu" %> by Ernesto Zemaicio

		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "About3", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>